/*================= CSS RESET ======================== */

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin-block-end: 0;
    margin-block-start: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    line-height: 1.7rem;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
    line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
    text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
    min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
    scroll-margin-block: 5ex;
}

/*================= CSS RESET ======================== */

:root {
    --masterPadding-padding: 1.5rem;
    --masterwidth-mobile: 18.75rem;
    --masterwidth-Desktop: 37.5rem;
}

body {
    background-color: hsl(218, 22%, 67%);
    font-family: 'Karla', sans-serif;

    /* Flex Display Setup */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

/* =============== DIV LAYOUT SECTION =================== */
/* Sharing styles between div using with div container*/
.flex-container {
    max-width: var(--masterwidth-mobile);

}

.card1,
.card2,
.card3 {
    padding: var(--masterPadding-padding);
    margin: 0;
}

.card1 {
    background-color: white;


}

.card2 {
    background-color: hsl(179, 62%, 43%);


}

.card3 {
    background-color: hsl(179, 62%, 46%);
}

/* =============== CONTENT STYLE SECTION =================== */
/* Shared Classes */
.header {
    color: white;
    padding-bottom: 0.625rem;
    font-size: 1rem;

}

.paragrapgh {
    color: white;
    font-size: 0.875rem;
    opacity: 0.8;
    margin: auto;
    padding-bottom: 1rem;
}

/* Card1 content */
.titleheader {
    color: hsl(179, 62%, 43%);
    font-size: 1.25rem;
    padding-bottom: 0.625rem;

}

.subtitleheader {
    color: hsl(71, 73%, 54%);
    font-size: 1rem;
    padding-bottom: 0.625rem;

}

.card1para {
    color: black;
    font-size: 0.875rem;
    opacity: 0.8;

}

/* Card2 price content */
.pricetag {
    font-size: 1.5rem;
    color: white;
}

.duration {
    opacity: 0.6;
    color: white;
}

/* Card3 List Content */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    text-align: left;
    font-size: 0.875rem;
    color: rgba(255, 255, 255, 0.8);
}

/* Active State Button */
.signlink {
    text-decoration: none;
    text-align: center;
    color: white;
    background-color: hsl(71, 73%, 54%);
    display: block;
    padding: 0.5rem;

}

@media (min-width: 50rem) {

    .flex-container {

        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: auto;
        justify-content: center;
        box-sizing: border-box;
        max-width: 37.5rem;
        
    }

    .card1 {
        grid-column: 1/3;
    }

    .card2,.card3 {
        grid-row: 2;

    }

}